$error-color: #b10e1e;

.govuk-c-error-message {
  display: block;
  margin: 0;
  padding: 2px 0;
  clear: both;
  color: $error-color;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 40.0625em) {
  .govuk-c-error-message {
    font-size: 19px;
    line-height: 1.31579;
  }
}
