$label-focus-shadow-color: #ffbf47;
$label-description-color: #4f5b60;

.govuk-c-radio {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 0 2.10526em;
  clear: left;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: 40.0625em) {
  .govuk-c-radio {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.govuk-c-radio:last-child,
.govuk-c-radio:last-of-type {
  margin-bottom: 0;
}

.govuk-c-radio--inline {
  margin-right: 20px;
  float: left;
  clear: none;
}

.govuk-c-radio__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 2.10526em;
  height: 2.10526em;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.govuk-c-radio__label {
  display: block;
  padding: 0.42105em 0.78947em 0.26316em;
  border: 2px solid transparent;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.govuk-c-radio__input + .govuk-c-radio__label::before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.10526em;
  height: 2.10526em;
  border: 2px solid;
  border-radius: 50%;
  background: transparent;
}

.govuk-c-radio__input + .govuk-c-radio__label::after {
  content: "";
  position: absolute;
  top: 0.52632em;
  left: 0.52632em;
  width: 0;
  height: 0;
  border: 0.52632em solid;
  border-radius: 50%;
  opacity: 0;
}

.govuk-c-radio__input:focus + .govuk-c-radio__label::before {
  -webkit-box-shadow: 0 0 0 4px $label-focus-shadow-color;
  box-shadow: 0 0 0 4px $label-focus-shadow-color;
}

.govuk-c-radio__input:checked + .govuk-c-radio__label::after {
  opacity: 1;
}

.govuk-c-radio__input:disabled,
.govuk-c-radio__input:disabled + .govuk-c-radio__label {
  cursor: default;
}

.govuk-c-radio__input:disabled + .govuk-c-radio__label {
  opacity: .5;
}

// app

.app-c-radio__label--description {
  display: block;
  padding-top: 0;
  padding-right: 0.78947em;
  padding-bottom: 0.26316em;
  padding-left: 0.78947em;
  border: 2px solid transparent;
  color: $label-description-color;
}
