<%
  title ||= false
  aside ||= false
  large_text = !title && !aside
%>
<% content_block = capture do %>
  <% if title %>
    <h2 class="app-c-banner__title"><%= title %></h2>
  <% end %>
  <p class="app-c-banner__<% if large_text %>text<% else %>desc<% end %>">
    <%= text %>
  </p>
<% end %>
<section class="app-c-banner<% if aside %> app-c-banner--grid<% end %>" aria-label="Notice">
  <%= content_block %>
  <% if aside %>
    <div class="app-c-banner__aside">
      <p><%= aside %></p>
    </div>
  <% end %>
</section>
