<div class="app-c-native-blue-box-campaign__container">
  <a class="app-c-native-blue-box-campaign__link" href="<%= href %>">
    <h2 class="app-c-native-blue-box-campaign__title"><%= title %></h2>
    <span class="app-c-native-blue-box-campaign__description"><%= description %></span>
  </a>
</div>
