<%
  items ||= []
%>
<% if items.any? %>
  <ol class="app-c-document-list">
    <% items.each do |item| %>
      <li class="app-c-document-list__item">
        <h3 class="app-c-document-list__item-title">
          <%=
            link_to(
              item[:link][:text],
              item[:link][:path],
              data: item[:link][:data_attributes]
            )
          %>
        </h3>
        <ul>
          <li class="app-c-document-list__attribute">
            <time datetime="<%= item[:metadata][:public_updated_at].iso8601 %>">
              <%= l(item[:metadata][:public_updated_at], format: :short_ordinal) %>
            </time>
          </li>
          <li class="app-c-document-list__attribute">
            <%= t("content_item.schema_name.#{item[:metadata][:document_type]}", count: 1) %>
          </li>
        </ul>
      </li>
    <% end %>
  </ol>
<% end %>
