<%
  alt ||= ''
  caption ||= ''
%>
<figure class="app-c-figure">
  <img class="app-c-figure__image" src="<%= src %>" alt="<%= alt %>">
  <% unless caption.blank? %>
  <div class="app-c-figure__figcaption-wrapper">
    <figcaption class="app-c-figure__figcaption">
      <%= caption %>
    </figcaption>
  </div>
  <% end %>
</figure>
