<div class="app-c-native-campaign__container">
  <span class="app-c-native-campaign__header">Campaign</span>
  <a class="app-c-native-campaign__link" href="<%= href %>"><%= title %></a>
  <p class="app-c-native-campaign__description"><%= description %></p>
</div>
