<% if defined?(title) %>
  <%
    description_text ||= ""
    description_govspeak ||= ""
  %>
  <section class="app-c-notice" aria-label="Notice">
    <h2 class="app-c-notice__title"><%= title %></h2>
    <% if description_text.present? %>
      <p class="app-c-notice__description"><%= description_text %></p>
    <% end %>
    <% if description_govspeak.present? %>
      <%= render 'govuk_component/govspeak', content: description_govspeak %>
    <% end %>
  </section>
<% end %>
