<%
  link_text ||= "Print entire guide"
%>

<div class="app-c-print-link">
  <a
    href="<%= href %>"
    class="app-c-print-link__link govuk-link"
    rel="alternate"
  >
    <%= link_text %>
  </a>
</div>
