<header class="app-c-publication-header">
  <%= render partial: 'govuk_component/title', locals: {
    title: title,
    context: context,
    inverse: true,
    margin_bottom: 0
  } %>
  <p class="app-c-publication-header__last-changed"><%= last_changed %></p>
</header>
