<div class="app-c-translation-nav">
  <ul class="app-c-translation-nav__list">
    <% translations.each.with_index do |translation, i| %>
      <li class="app-c-translation-nav__list__language<%= ' last' if i == translations.length-1 %>">
        <% if translation[:active].present? %>
          <%= translation[:text] %>
        <% else %>
          <%= link_to translation[:text], translation[:base_path], lang: translation[:locale] %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
