.case-studies {
  @include metadata;
  @include description;
  @include sidebar-with-body;

  .direction-rtl & {
    direction: rtl;
    text-align: start;
  }

  .withdrawal-notice {
    @include notice;
  }

  .govuk-document-footer {
    margin-bottom: $gutter * 1.5;
  }
}
