.verify-hint-box {
  border: 5px solid $govuk-border-colour;
  padding: govuk-spacing(3);
  box-sizing: border-box;
  margin: - govuk-spacing(6) 0 govuk-spacing(6);

  .verify-hint-logos {
    margin-bottom: govuk-spacing(3);

    .verify-hint-logos-idp {
      height: 60px;
      border-right: 1px solid $govuk-border-colour;
      padding-right: govuk-spacing(3);
    }

    .verify-hint-logos-verify {
      height: 40px;
      padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(3);
    }
  }
}
