.consultation {
  @include sidebar-with-body;
  @include share-buttons;

  .consultation-date {
    @include core-24;
  }

  .original-consultation {
    border-top: 1px solid $border-colour;

    @include media(tablet) {
      padding-top: $gutter;
    }
  }
}
