.consultation {
  @include sidebar-with-body;
  @include share-buttons;

  .consultation-date {
    @include core-24;
  }

  .section-title {
    @include bold-27;
    margin-top: $gutter;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }

  .original-consultation {
    border-top: 1px solid $border-colour;

    @include media(tablet) {
      padding-top: $gutter;
    }
  }
}
