.detailed-guide {
  @include add-title-margin;
  @include sidebar-with-body;

  .direction-rtl & {
    direction: rtl;
    text-align: start;
  }

  // To allow .back-to-content to settle in at the bottom after scrolling past.
  .sidebar-with-body {
    position: relative;
  }

  .logo-image {
    max-width: 70%;

    @include media(tablet) {
      margin-top: 45px;
      max-width: 100%;
    }
  }
}
