.detailed-guide {
  @include description;
  @include sidebar-with-body;
  @include history-notice;
  @include withdrawal-notice;

  .offset-one-third {
    margin-left: percentage(1 / 3);
  }

  .related-mainstream-content {
    background: $panel-colour;
    padding: $gutter-half;
    margin-bottom: $gutter;

    @include media(desktop) {
      width: percentage(1 / 3);
      float: right;
      margin: 0 0 $gutter-half $gutter-half;
    }
  }

  // To allow .back-to-content to settle in at the bottom after scrolling past.
  .sidebar-with-body {
    position: relative;
  }

  // To compensate for the -$gutter from @include sidebar-with-body.
  .back-to-content {
    margin-left: $gutter;
  }
}
