.detailed-guide {
  @include sidebar-with-body;
  @include history-notice;
  @include withdrawal-notice;
  @include taxonomy-sidebar;

  .related-mainstream-content {
    background: $panel-colour;
    padding: $gutter-half;
    margin-bottom: $gutter;

    @include media(desktop) {
      width: percentage(1 / 3);
      float: right;
      margin-bottom: $gutter-half;
      margin-left: $gutter-half;
    }
  }

  // To allow .back-to-content to settle in at the bottom after scrolling past.
  .sidebar-with-body {
    position: relative;
  }

  // To compensate for the -$gutter-half from @include sidebar-with-body.
  .back-to-content {
    margin-left: $gutter-half;
  }

  .logo-image {
    max-width: 70%;

    @include media(tablet) {
      max-width: 100%;
      margin-top: 45px;
    }
  }
}
