.detailed-guide {
  @include description;
  @include sidebar-with-body;
  @include history-notice;
  @include withdrawal-notice;

  .offset-one-third {
    margin-left: percentage(1 / 3);
  }

  .related-mainstream-content {
    background: $panel-colour;
    padding: $gutter-half;
    margin-bottom: $gutter;

    @include media(desktop) {
      width: percentage(1 / 3);
      float: right;
      margin: 0 0 $gutter-half $gutter-half;
    }
  }
}
