.document-collection {
  @include sidebar-with-body;
  @include history-notice;
  @include withdrawal-notice;
  @include taxonomy-sidebar;

  .group-title {
    @include bold-27;
    margin-top: $gutter;
    margin-bottom: $gutter-half;

    @include media(desktop) {
      margin-top: $gutter * 1.5;
      margin-bottom: $gutter-two-thirds;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .group-document-list-item {
    overflow: hidden;
    margin-bottom: $gutter-one-third;
    padding-bottom: $gutter-one-third;
    border-bottom: 1px solid $border-colour;
  }

  .group-document-list-item-title {
    @include bold-19;
  }

  .group-document-list-item-attributes li {
    @include core-14;
    float: left;
    list-style: none;
    padding-right: $gutter-two-thirds;
  }
}
