.document-collection {
  @include sidebar-with-body;
  @include taxonomy-sidebar;

  .group-title {
    @include bold-27;
    margin-top: $gutter;
    margin-bottom: $gutter-half;

    @include media(desktop) {
      margin-top: $gutter * 1.5;
      margin-bottom: $gutter-two-thirds;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
