.document-collection {
  @include add-title-margin;
  @include sidebar-with-body;

  .group-title {
    @include bold-27;
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(3);

    @include media(desktop) {
      margin-top: govuk-spacing(8);
      margin-bottom: govuk-spacing(4);
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
