.get-involved {

  .govuk-grid-column-one-third-from-desktop{
    padding: 0;
  }

  .govuk-grid-column-two-thirds-from-desktop{
    padding: 0;
  }

  .govuk-grid-column-one-half-from-desktop{
      padding: 0;
  }

  .index-list{
          li {
            list-style: none;
            border-bottom: 1px solid $govuk-border-colour;
            @include govuk-font(19);
            padding-top: 7px;
            padding-bottom: 3px;
          }
        }

  h2 {
    @extend %govuk-heading-l;
    border-bottom: govuk-spacing(1) solid govuk-colour("black");
    margin-bottom: govuk-spacing(3);
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(6);
    }
    &#take-part {
      margin-bottom: 0;
      @include govuk-media-query($from: tablet) {
        margin-bottom: govuk-spacing(3);
      }
    }
    &#elsewhere-on-the-web {
      margin-top: govuk-spacing(6)*1.5;
    }
  }

  .featured-news article .content .text h3 {
    padding-bottom: 3px;
  }

  .content {
    padding: 0 govuk-spacing(3);
  }


  .block {
    clear: both;
  }

  .floated-children {
    h2 {
      margin-left: govuk-spacing(3);
      margin-right: govuk-spacing(3);
    }

    .head-section {
      @include govuk-media-query($from: tablet) {
        float: left;
      }
      h3 {
        @include govuk-font(27, $weight: bold);
        font-weight: bold;
        padding: 0 govuk-spacing(3) 7px;
      }
    }

    .count {

      @include govuk-media-query($from: desktop) {
        width: 50%;
      }

      display: block;
      margin: govuk-spacing(3);
      @include govuk-font(80, $weight: bold);
      font-weight: bold;
      text-decoration: none;

      .context {
        display: block;
        @include govuk-font(16);
        margin-top:0;
        color: govuk-colour("black");
      }

  }

    section {
      @include govuk-font(19);
      @include govuk-clearfix;
      clear: both;
      margin-bottom: govuk-spacing(6);

      h3, h4 {
        font-weight: bold;
      }

      .column {
        @include govuk-media-query($from: tablet) {
          float: left;
        }
      }

      .consultation-lists {
        list-style: none;

        @include govuk-media-query($from: tablet) {
          float: left; 
        }
        
        .consultation-closing-soon {
          color: govuk-colour("white");
          background-color: #2e3191;
          margin: govuk-spacing(6) govuk-spacing(3);
          padding: govuk-spacing(3) govuk-spacing(3) 0;
          h3 {
            @include govuk-font(27, $weight: bold);
            font-weight: bold;
            padding-bottom: govuk-spacing(1);
            @include govuk-media-query($from: tablet) {
              padding-bottom: govuk-spacing(1);
            }
          }
          .document-list {
            margin-top: -govuk-spacing(2);
            .document-row {
              float: none;
            }

            h3 {
              @include govuk-font(19);
              border-bottom: 1px solid govuk-colour("white");
              padding-bottom: govuk-spacing(2);
              font-weight: normal;
            }
            .attributes {
              @include govuk-clearfix;
              margin-top: govuk-spacing(2);

              li {

                a {
                  color: govuk-colour("white");

                  &:link:focus {
                    color: $govuk-focus-text-colour;
                  }
                }
              }
            }
          }
          @include govuk-media-query($from: tablet) {
            margin: govuk-spacing(3) govuk-spacing(3) govuk-spacing(6);
          }
        }
        .column {
          @include govuk-media-query($from: tablet) {
            float: left;
            @include govuk-if-ie8 {
              width: 49.99%;
            }
          }
        }
        .document-row {
          border: 0;
          padding: 5px 0 10px;
        }
      }

      .document-list {
        .document-row {
          border: 0;
          padding: 5px 0 10px;
          float: left;

          h3 {
            font-weight: normal;
          }
          .attributes {
            padding-top: govuk-spacing(1);
            @include govuk-font(14);
            li {
              padding-right: govuk-spacing(2);
              float: left;
              a {
                font-weight: bold;
              }
            }
          }
        }
      }

      &.start-a-petition, &.comment-follow {
        p {
          padding-top: govuk-spacing(2);
        }
      }

      &.more-ways {
        .index-list {
          margin-top: govuk-spacing(3);
        }
        h3 {
          padding-top: 0;
        }
        .column {
          margin-top: govuk-spacing(1);
        }
      }

      &.take-part-pages,
      &.start-a-petition,
      &.more-ways {
        margin-bottom: 0;
        @include govuk-media-query($from: tablet) {
          margin-bottom: govuk-spacing(6);
        }
      }

      &.respond-to-consultations {
        margin-bottom: 0;
        h3 {
          padding-top: 0;
        }
        .column {
          margin-top: govuk-spacing(1);
        }
      }

      .see-all {
        font-weight: bold;
        margin: govuk-spacing(2) 0 govuk-spacing(6);
      }
    }

    .article-clear {
      clear: both;
    }

    .consultations + .keyline {
      padding-top: 0;
    }

    .keyline {
      clear: both;
      border: solid $govuk-border-colour;
      border-width: 0 0 1px;
      margin: 0 govuk-spacing(3) govuk-spacing(6);
      padding-top: govuk-spacing(6);
    }

  }

}
