@import "grid_layout";

.html-publication {
  @include responsive-top-margin;

  .publication-external {
    @extend %grid-row;
    margin-bottom: $gutter-two-thirds;
    position: relative;

    .organisation-logos {
      @include grid-column(1 / 4);
      list-style-type: none;

      .organisation-logo {
        padding-bottom: $gutter-one-third;
      }
    }

    .see-more-about-container {
      @include grid-column(3 / 4);

      .see-more-about {
        @include core-19;
        padding-top: $gutter-one-third;
        position: static;

        @include media(tablet) {
          bottom: 0;
          position: absolute;
          right: $gutter-half;
        }
      }

      &.direction-rtl {
        direction: rtl;
        text-align: start;

        // Chrome (and probably other browsers) does a weird thing where it changes
        // the font kerning ever so slightly when RTL rendering latin characters,
        // which will cause the glyphs to become slightly wider, which will cause
        // them to collapse over multiple rows even though they do have enough space to fit.
        // It's reproducible only for specific character strings, such as "See More".
        // This is a sheepish fix, by giving the element much more space than it needs.
        .see-more-about {
          width: 100%;
        }
      }
    }
  }

  // Based on the govuk-title component
  .html-publication-title {
    @include responsive-vertical-margins;

    .context {
      @include core-27;
      color: $white;
      margin-bottom: $gutter-one-third;
    }

    h1 {
      @include bold-48;
    }
  }

  .publication-header {
    @include white-links;
    @include core-19;
    color: $white;

    background: $light-blue;
    padding: $gutter $gutter $gutter / 3;

    &.direction-rtl {
      direction: rtl;
      text-align: start;
    }
  }

  .headings {
    margin-bottom: $gutter;
  }

  .in-page-navigation {
    margin-bottom: $gutter;

    @include media(tablet) {
      width: 70%;
    }

    h2 {
      font-weight: bold;
    }

    ol {
      padding-left: $gutter;

      .direction-rtl & {
        padding-right: $gutter;
        padding-left: 0;
      }

      li {
        list-style: decimal;
        font-weight: bold;
      }

      &.unnumbered {
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }

    .numbered {
      margin-left: $gutter-two-thirds;

      @include media(desktop) {
        margin-left: $gutter;
      }
    }

    .heading-number {
      @include bold-19($tabular-numbers: true);
      margin-left: -18px;
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: normal;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }
}
