@import "grid_layout";

.html-publication {
  @include sidebar-with-body;

  .direction-rtl & {
    direction: rtl;
    text-align: start;
  }

  .publication-external {
    @extend %grid-row;
    margin-bottom: $gutter-two-thirds;
    position: relative;

    .organisation-logos {
      @include grid-column(1 / 4);
      list-style-type: none;

      .organisation-logo {
        padding-bottom: $gutter-one-third;
      }
    }

    // design calls for the logos at the top to always be left aligned
    .direction-rtl & {
      direction: ltr;
    }
  }

  .publication-header {
    @include core-19;
    color: $white;
    background: $light-blue;
    padding: ($gutter / 2) $gutter $gutter;
    margin-bottom: $gutter * 2;

    .last-changed {
      margin-top: $gutter / 2;
    }
  }

  .column-quarter-desktop-only {
    @include grid-column( 1 / 4, $full-width: desktop );

    .direction-rtl & {
      float: right;
    }
  }

  .column-three-quarters-desktop-only {
    @include grid-column( 3 / 4, $full-width: desktop );

    .direction-rtl & {
      float: right;
    }
  }

  .offset-quarter-desktop-only {
    margin-left: 25%;

    .direction-rtl & {
      margin-left: 0;
      margin-right: 25%;
    }

    @include media(false, $desktop-breakpoint) {
      margin: 0;

      .direction-rtl & {
        margin: 0;
      }
    }
  }

  .print-meta-data {
    display: none;
  }

  @include media(false, $desktop-breakpoint) {
    .govuk-sticky-element--enabled {
      position: static;
    }
  }
}
