@import "grid_layout";

.html-publication {
  @include responsive-top-margin;

  .publication-external {
    @extend %grid-row;
    margin-bottom: $gutter-two-thirds;
    position: relative;

    .organisation-logos {
      @include grid-column(1 / 4);
      list-style-type: none;

      .organisation-logo {
        padding-bottom: $gutter-one-third;
      }
    }

    .see-more-about-container {
      @include grid-column(3 / 4);

      .see-more-about {
        @include core-19;
        padding-top: $gutter-one-third;
        position: static;

        @include media(tablet) {
          bottom: 0;
          position: absolute;
          right: $gutter-half;
        }
      }
    }
  }

  // Based on the govuk-title component
  .html-publication-title {
    @include responsive-vertical-margins;

    .context {
      @include core-27;
      color: $white;
      margin-bottom: $gutter-one-third;
    }

    h1 {
      @include bold-48;
    }
  }

  .publication-header {
    @include white-links;
    @include core-19;
    color: $white;

    background: $light-blue;
    padding: $gutter $gutter $gutter / 3;

    &.direction-rtl {
      direction: rtl;
      text-align: start;
    }
  }

  .in-page-navigation {
    margin-top: $gutter;
    margin-bottom: $gutter;

    @include media(tablet) {
      width: 70%;
    }

    h2 {
      font-weight: bold;
    }

    ol {
      padding-left: $gutter;

      .direction-rtl & {
        padding-right: $gutter;
        padding-left: 0;
      }

      li {
        list-style: decimal;
        font-weight: bold;
      }

      &.unnumbered {
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }

    .numbered {
      margin-left: $gutter-two-thirds;

      @include media(desktop) {
        margin-left: $gutter;
      }
    }

    .heading-number {
      @include bold-19($tabular-numbers: true);
      margin-left: -18px;
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: normal;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }

  .back-to-content {
    @include core-19;
    display: block;
    padding-bottom: $gutter-half;

    &:before {
      content: "\2191";
    }

    @media print {
      display: none;
    }
  }
}
