.html-publication {
  @include sidebar-with-body;

  .direction-rtl & {
    direction: rtl;
    text-align: start;
  }

  .publication-external {
    margin-bottom: govuk-spacing(4);
    position: relative;

    // design calls for the logos at the top to always be left aligned
    .direction-rtl & {
      direction: ltr;
    }
  }

  .publication-header__last-changed {
    @include govuk-font(19);
    margin-top: govuk-spacing(3);
  }

  .contents-list-container {
    .direction-rtl & {
      float: right;
    }
  }

  .main-content-container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    @include govuk-media-query($from: desktop) {
      width: 75%;
      float: right;
    }

    .direction-rtl & {
      float: left;
    }
  }

  .offset-empty-contents-list {
    float: right;

    .direction-rtl & {
      float: left;
    }
  }

  .print-meta-data {
    display: none;
  }

  .govuk-sticky-element {
    .govuk-sticky-element__print-link {
      margin-left: govuk-spacing(3);
    }
  }

  @include govuk-media-query($until: desktop) {
    .govuk-sticky-element--enabled {
      position: static;
    }
  }
}
