.manuals-frontend-body {
  padding-bottom: govuk-spacing(6);

  header {
    background: $govuk-brand-colour;

    padding-top: govuk-spacing(6);
    padding-bottom: govuk-spacing(6);
    color: govuk-colour("white");
    margin: 0;
    @include govuk-font(16);
    @include govuk-clearfix;

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(6) govuk-spacing(3);
    }

    .manual-type {
      @include govuk-font(24);
    }

    h1 {
      @include govuk-font(36, $weight: bold);
      padding: 0 0 govuk-spacing(3) 0;

      @include govuk-media-query($from: tablet) {
        padding: 0 0 govuk-spacing(6) 0;
      }
    }

    a {
      color: govuk-colour("white");

      &:focus {
        @include govuk-focused-text;
      }
    }
  }

  .manual-body {
    @include govuk-media-query($from: tablet) {
      margin-top: govuk-spacing(6);
    }

    .section-title {
      @include govuk-text-colour;
      @include govuk-font($size: 24, $weight: bold);
      @include govuk-responsive-margin(4, "bottom");
    }
  }
}
