@import "govuk_publishing_components/individual_component_support";

.published-dates-button-group {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
  }
}

.published-dates-button-group form {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(3);
  }
  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(4);
  }
}
