.publication {
  @include sidebar-with-body;
  @include history-notice;
  @include withdrawal-notice;
  @include national-statistics-logo;
  @include taxonomy-sidebar;

  .section-title {
    @include bold-27;
    margin-top: $gutter;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }

  .direction-rtl & {
    direction: rtl;
    text-align: start;
  }
}
