.community-contact {
  margin-top: 1.875em; // 30/16
}

.prose {

  margin-top: 1em;
  margin-bottom: 2em;
  @include media(tablet) {
    margin-top: 2em;
    margin-bottom: 4em;
  }

  h2 {
    @include bold-24();
    margin-top: 1.875em; // 45/24
    margin-bottom: 0.833333333em; // 20/24
  }

  h3 {
    @include bold-19();
    margin-top: 1.052631579em; // 20/19
  }

  ol,
  ul {
    @include core-19;
    padding-left: 1.052631579em; // 20/19
    margin-bottom: 1.052631579em; // 20/19
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    margin-bottom: 0.263157895em // 5/19
  }

  p {
    @include core-19;
    margin-top: 0.263157895em; // 5/19
    margin-bottom: 1.052631579em; // 20/19
  }
}