@import "grid_layout";

.service-sign-in {
  .column-one-half { @include grid-column(1 / 2); };
  .column-two-thirds { @include grid-column(2 / 3); };
  .column-full { @include grid-column(1); };

  h3 {
    @include bold-24;
    margin-bottom: 4px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: underline;
  }

  .gem-c-back-link {
    text-decoration: none;
  }

  .pub-c-button {
    text-decoration: none;
  }

  .fixed-height {
    height: 40px;

    @include media(mobile) {
      height: auto;
    }
  }
}
