.service-manual {

  margin-bottom: $gutter;

  @include media(tablet) {
    margin-bottom: $gutter * 2;
  }

  .community-contact {
    margin-top: 1.875em; // 30/16
  }

  // Lede text
  .lede {
    @include core-24;
  }

  // Metadata
  .metadata {
    @include core-14;
    @extend %contain-floats;
    margin-bottom: 2em;

    &.direction-rtl {
      direction: rtl;
      text-align: start;
    }

    dt {
      float: left;
      clear: left;
      width: auto;
      min-width: 120px;

      @include media(tablet) {
        padding-right: $gutter-one-third;
      }
    }

    &.direction-rtl dt {
      float: right;
      clear: right;

      @include media(tablet) {
        padding-left: $gutter-one-third;
        padding-right: 0;
      }
    }

    dd {
      float: left;
      width: 55%;

      @include media(tablet) {
        width: 70%;
      }
    }

    &.direction-rtl dd {
      float: right;
    }

    // Adjust icon position for external links
    a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0\A0";
      background-position: right 0%;
    }
  }

  // Page contents
  .page-contents {
    margin-top: 1em;

    @include media(tablet) {
      margin-top: 2em;
    }
  }

  .page-contents-title {
    @include bold-16;
    margin-bottom: 0.3125em;
  }

  .page-contents-list li {
    list-style-type: none;
    margin-left: $gutter-half;
    padding-right: $gutter-half;

    &:before {
      content: "–";
      float: left;
      display: block;
      width: $gutter-half;
      margin-left: -$gutter-half;
    }

  }

  // Remove underlines from lists of links
  // to improve legibility
  .page-contents-list a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .govspeak-wrapper {
    padding-top: 0.9375em;

    @include media(tablet) {
      padding-top: 1.875em;
    }
  }

  // Related content
  .related {
    border-top: 1px solid $border-colour;
    padding-top: 1em;
  }

  .related-title {
    @include bold-19;
    margin-bottom: 0.5em;
  }

  .related-description {
    margin-bottom: 0.5em;
  }

  .related-list {
    @include core-16;
    list-style: none;
  }

  .related-list-item {
    margin-bottom: 0.5em;
  }

}
