.service-manual-topic {

  // Lede text
  .lede {
    @include core-24;
  }

  // Topic subsections
  .subsection {
    width: 100%;
  }

  .subsection-title {
    @include bold-19;
    color: $govuk-blue;
    padding-top: 1em;
  }

  .subsection-description {
    @include core-16;
    color: $secondary-text-colour;
  }

  .subsection-list {
    margin-bottom: 0.5em;
    padding-left: 1.25em;
    border-bottom: 1px solid $border-colour;
  }

  .subsection-list-item {
    margin-bottom: 0.25em;
  }

  .subsection-list-item a {
    text-decoration: none;
  }

}
