.statistics-announcement {
  @include description;

  .national-statistics-logo {
    margin-top: $gutter;
  }

  .cancellation-notice {
    @include notice;
  }

  .release-date-change-notice {
    h2 {
      font-weight: bold;
      margin-bottom: $gutter-half;
    }
  }
}
