@import "govuk_publishing_components/individual_component_support";
@import "../helpers/parts";

.travel-advice {
  @include parts;

  .part-navigation-container {
    margin-bottom: 0;
  }

  .part-navigation {
    margin-bottom: govuk-spacing(8);
  }

  // TODO: Remove this when components can accept variable unidirectional spacing,
  // the component above should have a bigger margin-bottom.
  .map {
    @include responsive-bottom-margin;

    margin-top: govuk-spacing(6);

    .map-image {
      max-width: 100%;
    }
  }
}

.metadata__update {
  display: block;
  margin-bottom: govuk-spacing(2);
}

.travel-advice-notice {
  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(7);
  position: relative;
}

.travel-advice-notice__header {
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(3);
}

.travel-advice-notice__content {
  margin-top: - govuk-spacing(3);
  padding: 0 govuk-spacing(4) 0 govuk-spacing(9);
}

.travel-advice-notice__icon {
  margin-left: govuk-spacing(3);
}
