.travel-advice {
  @include parts;
  @include add-title-margin;

  .part-navigation {
    margin-bottom: $gutter * 1.5;
  }

  .map {
    margin-top: $gutter;

    img {
      max-width: 100%;
    }
  }
}
