.travel-advice {
  @include parts;
  @include add-title-margin;

  .part-navigation {
    margin-bottom: $gutter * 1.5;
  }

  // TODO: Remove this when components can accept variable unidirectional spacing,
  // the component above should have a bigger margin-bottom.
  .map {
    @include responsive-bottom-margin;

    margin-top: $gutter;
  }
}
