@mixin service-manual-related {
  // Related content
  .related {
    border-top: 1px solid $border-colour;
    padding-top: 1em;
  }

  .related-title {
    @include bold-19;
    margin-bottom: 0.5em;
  }

  .related-description {
    margin-bottom: 0.5em;
  }

  .related-list {
    @include core-16;
    list-style: none;
  }

  .related-list-item {
    margin-bottom: 0.5em;
  }
}
