@mixin white-links {
  a,
  a:visited,
  a:hover {
    color: govuk-colour("white");
    text-decoration: underline;
  }

  a:focus {
    @include govuk-template-link-focus-override;
  }

  a:active {
    color: $govuk-link-active-colour;
  }
}
