.available-languages {
  margin-bottom: $gutter;
  border-bottom: 1px solid $border-colour;

  // The following mixin usage could be a composable class in the future
  // as components should not have layout that prevents reusability.
  @include responsive-top-margin;
  @include core-16;

  ul {
    @extend %contain-floats;
    list-style: none;
    margin-left: -$gutter-one-third;
    margin-right: -$gutter-one-third;

    li {
      float: left;
      padding-left: $gutter-one-third;
      padding-right: $gutter-one-third;
      margin-bottom: $gutter-one-third;
      border-right: 1px solid $border-colour;
      height: 16px;

      &.last {
        border-right: 0;
      }

      .direction-rtl & {
        direction: rtl;
        float: right;
        text-align: start;
        border-left: 1px solid $border-colour;
        border-right: 0;

        &.last {
          border-left: 0;
        }
      }
    }
  }
}
