.back-to-content {
  @include core-16;
  display: inline-block;
  margin-bottom: $gutter-half;

  &:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 17px;
    margin-right: 5px;
    background: url("arrow-up.svg") no-repeat 50% 50%;
    vertical-align: top;
  }

  @media print {
    display: none;
  }
}
