// TODO: We can move this into GOV.UK Publishing Components if it makes sense to do so.

@import "design-patterns/buttons"; // Elements Button import globally depends on mixins defined in here.
@import "elements/helpers"; // Elements Button import globally depends on mixins defined in here.
// DEBT/RISK: Includes a .example-highlight-grid global CSS helper
// https://github.com/alphagov/govuk_elements/blob/874e287/public/sass/elements/_helpers.scss#L12
// and a reimplementation of .visually-hidden
// https://github.com/alphagov/govuk_elements/blob/874e287/public/sass/elements/_helpers.scss#L36
@import "elements/buttons";

.button-info-text {
  display: block;
  margin-top: .5em;
  max-width: 14em;
}

.govuk-govspeak {
  .button {
    text-decoration: none;

    // We can't easily update .button-start to a placeholder pattern
    // scss-lint:disable PlaceholderInExtend
    @extend .button-start;
    // TODO: remove this when AB Test for DVLA Epilepsy and driving is finished:
    // (see Trello card: https://trello.com/c/Q91ppDXf/628-remove-dvla-epilepsy-ab-test-when-finished)
    margin: 0.75em 0;
  }

  .button:focus,
  .button:active {
    color: $white;
  }
}
