.dash-list {
  margin-bottom: $gutter-two-thirds;

  li {
    margin-left: $gutter-half + 5;
    padding-right: $gutter-half + 5;
    padding-top: $gutter / 6;
    list-style-type: disc;

    @supports (content: "—") {
      list-style-type: none;

      &:before {
        content: "— ";
        position: relative;
        float: left;
        width: $gutter-half + 5;
        margin-left: -($gutter-half + 5);
      }
    }
  }

  // Remove underlines from lists of links
  // to improve legibility
  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
