@import "govuk_publishing_components/individual_component_support";

.translation-nav-header {
  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: end;
    margin-bottom: govuk-spacing(8);
  }
}

.direction-rtl {
  .translation-nav-header {
    flex-direction: row-reverse;
  }
}

.translation-nav-header__child {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(6);
  }
}
