.navigation-footer {
  border-top: 2px solid $govuk-blue;
  padding-top: $gutter-half;
}

.navigation-footer__title-link {
  @include bold-24;
  display: block;
}

.navigation-footer__section {
  padding: $gutter-one-third 0 $gutter-two-thirds 0;
  margin-top: $gutter-half;
  border-top: 1px solid $grey-2;
}

.navigation-footer__news {
  list-style-type: none;
}

.navigation-footer__section:first-of-type {
  border-top: 0;
}
