@mixin notice {
  clear: both;
  @include responsive-bottom-margin;
  padding: $gutter-two-thirds;
  border: 5px solid $govuk-blue;

  @include media(mobile) {
    padding: $gutter-half;
  }

  h2 {
    @include bold-36;
    margin-bottom: $gutter-one-third;
  }

  p {
    @include core-19;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    word-break: break-word;
  }
}
