@import "govuk/settings/colours-palette";
@import "govuk/settings/colours-organisations";
@import "govuk/helpers/colour";

@mixin organisation-links {
  @each $organisation in map-keys($govuk-colours-organisations) {
    .#{$organisation}-brand-colour {
      a {
        color: govuk-organisation-colour($organisation);

        &:focus {
          color: $govuk-focus-text-colour;
        }
      }
    }
  }
}
