@mixin parts {
  .part-navigation-container {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
    padding-bottom: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: govuk-spacing(3);
    }

    border-bottom: 1px solid govuk-colour("mid-grey", $legacy: "grey-2");
  }

  .part-navigation {
    margin-bottom: 0;
    @include govuk-font(19);

    @include govuk-media-query($from: tablet) {
      @include govuk-font(16);
    }

    li {
      list-style: none;
      margin-bottom: 0.75em;
    }
  }

  .part-title {
    @include govuk-font(27, $weight: bold);
    margin-bottom: govuk-spacing(3);
    margin-top: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);
      margin-top: govuk-spacing(4);
    }
  }
}
