@mixin parts {
  .part-navigation-container {
    margin-top: $gutter;
    margin-bottom: $gutter;

    @include media(tablet) {
      margin-bottom: $gutter * 1.5;
    }

    border-bottom: 1px solid $grey-2;
  }

  .part-navigation {
    margin-bottom: $gutter / 2;
    @include core-19;

    @include media(tablet) {
      @include core-16;
    }

    li {
      margin-bottom: 0.75em;

      a {
        display: block;
      }
    }
  }

  .part-title {
    @include bold-27;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-bottom: $gutter-two-thirds;
    }
  }
}
