// FIXME: These styles will become ubiquitous as we
// roll out the combination of metadata + logo across
// formats so they may ultimately become component styles.
.metadata-logo-wrapper {
  @include govuk-clearfix;
  border-top: 1px solid $border-colour;
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);

  .metadata-column {
    padding-left: 0;
  }

  .metadata-logo {
    max-height: 90px;
    max-width: 100%;
    padding-bottom: govuk-spacing(3);
    padding-top: govuk-spacing(3);

    @include media(tablet) {
      float: right;
    }
  }
}
