// FIXME: These styles will become ubiquitous as we
// roll out the combination of metadata + logo across
// formats so they may ultimately become component styles.
.metadata-logo-wrapper {
  @extend %contain-floats;
  border-top: 1px solid $border-colour;
  margin-left: $gutter-half;
  margin-right: $gutter-half;

  .metadata-column {
    padding-left: 0;
  }

  .metadata-logo {
    max-height: 90px;
    max-width: 100%;
    padding-bottom: $gutter-half;
    padding-top: $gutter-half;

    @include media(tablet) {
      float: right;
    }
  }
}
