@mixin share-buttons {
  $share-button-width: 25px;
  $share-button-height: 25px;

  .share-buttons {
    @include core-16;
    margin-top: $gutter-one-third;

    .share-button-link {
      margin-right: $gutter;
    }

    .share-button {
      display: inline-block;
      width: $share-button-width;
      height: $share-button-height;
      margin-right: $gutter-one-third;
      background-color: $govuk-blue;
      background-image: image-url("social-icons-white.png");
      background-repeat: no-repeat;
      vertical-align: top;
    }

    .share-button-facebook {
      background-position: -2px -2px;
    }

    .share-button-twitter {
      background-position: -2px -32px;
    }
  }
}
