.task-list-sidebar {
  margin-bottom: 0;

  @include media(tablet) {
    margin-top: 180px;
  }
}

// FIXME This can be removed once all
// formats are moved to universal layout.
.task-list-responsive-top-margin {
  margin-top: 30px;

  @include media(tablet) {
    margin-top: 180px;
  }
}
