<div class="grid-row">
  <div class="column-two-thirds">
    <%%= render 'govuk_component/title',
        context: t("content_item.schema_name.#{@content_item.document_type}", count: 1),
        title: @content_item.title %>
  </div>
</div>

<%%= render 'components/lead-paragraph', text: @content_item.description %>
