<a class="back-to-content"
  data-track-category="contentsClicked"
  data-track-action="backToContentsLinkClicked"
  data-track-label="contents"
  data-module="track-click"
  href="#contents">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"/>
    </svg>
    <%= t('content_item.contents') %>
</a>
