<div class="change-history-public-timestamp">
  <%= change_history_item.public_timestamp.strftime("%d %B %Y") %>
</div>
<div class="change-history-note">
  <%= change_history_item.note %>
</div>
<div class="change-history-reason">
  <%= change_history_item.reason_for_change %>
</div>
