<% if @account_flash.include?("email-subscription-success") %>
  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/success_alert", {
        message: sanitize(t("email.subscribe_title")),
        description: sanitize(t("email.description_html")),
        margin_bottom: 0,
      } %>
    </div>
  </div>
<% elsif @account_flash.include?("email-unsubscribe-success") %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
      <%= render "govuk_publishing_components/components/success_alert", {
        message: sanitize(t("email.unsubscribe_title")),
        description: sanitize(t("email.description_html")),
        margin_bottom: 0,
      } %>
    </div>
  </div>
<% elsif @account_flash.include?("email-subscribe-already-subscribed") %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
      <%= render "govuk_publishing_components/components/success_alert", {
        message: sanitize(t("email.already_subscribed_title")),
        description: sanitize(t("email.description_html")),
        margin_bottom: 0,
      } %>
    </div>
  </div>
<% end %>
