<div class="related-item govuk-!-padding-top-4">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Get notifications",
    font_size: "s",
    margin_bottom: 2,
    id: "related-subscriptions",
  } %>

  <div
    class="related-item__subscription-link"
    data-module="ga4-link-tracker"
    data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "index_link": 1, "index_total": 1, "section": "Sidebar" }'
    data-ga4-track-links-only
  >
    <%= render "govuk_publishing_components/components/subscription_links", {
      hide_heading: true,
      email_signup_link_text: "Get emails when any guidance within this topic is updated",
      email_signup_link: @content_item.email_alert_signup_link
    } %>
  </div>
</div>
