<div class="go-deeper">
  <p>See more guides in:

    <ul class="inline-topic-list">
      <% @content_item.taxons.each do |taxon| %>
      <li><a href="<%= taxon["base_path"] %>"><%= taxon["title"] %></a></li>
      <% end %>
    </ul>
  </p>
</div>
