<% # THIS IS PART OF EDUCATION NAVIGATION A/B TESTING - PLEASE KEEP IN SYNC WITH +new_navigation.erb %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/metadata', @content_item.metadata %>
  </div>
</div>
