<div class="grid-row">
  <div class="metadata-logo-wrapper<%= ' responsive-bottom-margin' if @content_item.try(:logo) %>">
    <div class="column-two-thirds metadata-column">
      <%= render "components/publisher-metadata", @content_item.publisher_metadata %>
    </div>
    <div class="column-one-third">
      <% if @content_item.try(:logo) %>
        <%= image_tag @content_item.logo[:path],
          alt: @content_item.logo[:alt_text],
          class: "metadata-logo" %>
      <% end %>
    </div>
  </div>
</div>
