<div class="grid-row">
  <div class="metadata-logo-wrapper<%= ' responsive-bottom-margin' if @content_item.try(:logo) %>">
    <div class="column-two-thirds metadata-column">
      <%= render "components/publisher-metadata", @content_item.publisher_metadata %>
    </div>
    <div class="column-one-third">
      <%= content_logo(@content_item) %>
    </div>
  </div>
</div>
