<% regulations_items = @content_item.related_stuff(
  reject_link: @content_item.base_path,
  filter_taxons: @content_item.taxon["content_id"],
  filter_content_purpose_subgroup: "regulation",
  order: '-public_timestamp',
  count: 5
) %>

<% if regulations_items[:items].any? %>
<div class="can-do-regulation can-do-section">
  <h3>Regulation</h3>

  <%= render "govuk_publishing_components/components/document_list", regulations_items  %>

  <p><a href="#">See more regulation</a></p>
</div>
<% end %>
