<div class="column-third add-title-margin">
  <% if @education_navigation_ab_test.should_present_new_navigation_view? %>
    <%=
      render(
        partial: 'govuk_component/taxonomy_sidebar',
        locals: content_item.taxonomy_sidebar
      ) %>
  <% else %>
    <%=
      render(
        partial: 'govuk_component/related_items',
        locals: content_item.related_items
      ) %>
  <% end %>
</div>
