<% if has_saved_page_confirmation? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-4">
        <%= render "govuk_publishing_components/components/success_alert", {
          message: t("components.save_this_page.confirmations.#{personalisation_param}.message"),
          description: sanitize(additional_text({
            additional_class: "govuk-notification-banner__link",
            signed_in: logged_in?,
          })),
        } %>
      </div>
    </div>
  </div>
<% end %>
