<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds offset-one-third">
    <h2>Share this page</h2>
    <div class="share-buttons" data-module="track-share-button-clicks">
      <%= link_to share_urls[:facebook],
        target: "_blank",
        rel: "noopener noreferrer",
        class: "share-button-link js-share-facebook" do %>
        <span class="share-button share-button-facebook"></span><span class="visually-hidden">Share on </span>Facebook<% end %>

      <%= link_to share_urls[:twitter],
        target: "_blank",
        rel: "noopener noreferrer",
        class: "share-button-link js-share-twitter" do %>
        <span class="share-button share-button-twitter"></span><span class="visually-hidden">Share on </span>Twitter<% end %>
    </div>
  </div>
</div>
