<%
  list_class ||= "dash-list"
  format_numbers ||= nil
%>

<% if contents.any? %>
  <nav role="navigation">
    <h2><%= t("content_item.contents") %></h2>
    <ol class="<%= list_class %>" data-module="track-click">
      <% contents.each do |heading| %>
        <li>
          <% if format_numbers %>
            <%= insert_spans(heading) %>
          <% else %>
            <%= heading %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>
