<% if step_nav_helper.show_related_links? %>
  <%= render 'shared/sidebar_step_nav', no_margin: true %>
<% else %>
  <div class="column-third">
  <% if @navigation.should_present_taxonomy_navigation? %>
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  <% else %>
    <%= render 'govuk_publishing_components/components/related_navigation', @content_item.content_item.parsed_content %>
  <% end %>
  </div>
<% end %>
