<%
  content_item = @content_item.content_item.parsed_content
%>

<div class="govuk-grid-column-one-third">
  <%= render 'govuk_publishing_components/components/contextual_sidebar', content_item: content_item %>
</div>
