<div class="grid-row sidebar-with-body">
  <div class="column-third">
    <%= render 'shared/sidebar_image', image: content_item.image %>
  </div>
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
        content: content_item.body,
        direction: page_text_direction %>
  </div>
</div>
