<% if show_step_nav? %>
  <%= render 'shared/sidebar_step_nav', no_margin: true %>
<% else %>
  <div class="column-third">
  <% if @navigation.should_present_taxonomy_navigation? %>
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_navigation %>
  <% else %>
    <%= render partial: 'components/related-navigation', locals: @content_item.related_navigation %>
  <% end %>
  </div>
<% end %>
