<div class="grid-row sidebar-with-body">
  <% if content_item.image %>
    <div class="column-third">
      <%= render 'shared/sidebar_image', image: content_item.image %>
    </div>
  <% end %>
  <div class="column-two-thirds <%= 'offset-one-third' unless content_item.image %>">
    <%= render 'govuk_component/govspeak',
        content: content_item.body,
        direction: page_text_direction %>
  </div>
</div>
