<% body ||= content_item.body %>
<div
  class="grid-row sidebar-with-body"
  data-module="sticky-element-container"
  id="contents"
>
  <% if content_item.contents.any? %>
    <div class="column-third">
      <%= render 'components/contents-list', contents: @content_item.contents %>
    </div>
  <% end %>
  <div class="column-two-thirds <%= 'offset-one-third' unless content_item.contents.any? %>">
    <%= render 'govuk_component/govspeak',
        content: body,
        direction: page_text_direction %>
  </div>
  <div data-sticky-element class="govuk-sticky-element">
    <%= render 'components/back-to-top', href: "#contents" %>
  </div>
</div>
