<% if local_assigns.has_key?(:tasklist) %>
  <%= render 'shared/sidebar_tasklist', tasklist: tasklist %>
<% elsif @navigation.should_present_taxonomy_navigation? -%>
  <%# FIXME: Markup can wrap all three sidebar navigation
      once we've migrated the appropriate formats %>
  <div class="column-third add-title-margin">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @content_item.taxonomy_sidebar %>
  </div>
<% else %>
  <div class="column-third add-title-margin">
    <%= render partial: 'components/related-navigation', locals: @content_item.related_navigation %>
  </div>
<% end %>
