<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
  <%= render 'shared/translations' %>
</div>
