<div class="govuk-grid-row translation-nav-header">
  <div class="govuk-grid-column-two-thirds translation-nav-header__child">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>
  </div>
  <%= render 'shared/translations' %>
</div>
