<% if @content_item.available_translations.length > 1 %>
  <% if @navigation.should_present_taxonomy_navigation? %>
    <%= render 'components/translation-nav',
        translations: @content_item.available_translations %>
  <% else %>
    <div class="column-third">
      <%= render 'components/translation-nav',
          translations: @content_item.available_translations %>
    </div>
  <% end %>
<% end %>
