<% if @content_item.available_translations.length > 1 %>
  <div class="govuk-grid-column-third">
    <%= render 'govuk_publishing_components/components/translation-nav',
        translations: @content_item.available_translations %>
  </div>
<% end %>
