<div class="govuk-!-margin-bottom-8">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Home",
        url: "/",
      },
      {
        title: "History of the UK Government",
        url: "/government/history",
      },
    ]
  } %>
</div>
