<% content_for :title, "Choose how to sign in" %>

<% content_for :simple_header, true %>
<% content_for :no_breadcrumbs, true %>
<% # Should we remove the search? %>

<% content_for :extra_head_content do %>
  <%= stylesheet_link_tag "self_assessment_b_variant.css", :media => "screen", integrity: true, crossorigin: 'anonymous' %>
<% end %>

<% # This is inline in the source however slimmer will optimize this. %>
<%= javascript_include_tag "self_assessment_b_variant", integrity: true, crossorigin: 'anonymous' %>

<a
  href="/log-in-file-self-assessment-tax-return"
  class="govuk-c-link govuk-c-link--back govuk-u-mt-3 govuk-u-mb-6 app-u-mb-5--small"
>Back</a>

<% if @error %>
  <div
    class="govuk-u-mb-6 app-u-mb-5--small js-error-summary govuk-c-error-summary optional-extra-class"
    aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  >
    <h2 class="govuk-c-error-summary__title" id="error-summary-title">
      You haven't selected an option
    </h2>
    <div class="govuk-c-error-summary__body">
      <ul class="govuk-c-list govuk-c-error-summary__list">
        <li>
          <a href="#options">Please select an option</a>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= form_tag({controller: 'content_items', action: 'sign_in_options'}, { method: :post, class: 'js-radio-button-track-form govuk-u-mb-6' }) do %>
  <fieldset class="govuk-u-mb-5 govuk-c-fieldset" id="radio-stacked">
    <legend class="govuk-c-fieldset__legend">
      <h1 class="govuk-u-bold-48 govuk-u-mb-6 app-u-mb-4--small">Choose how to sign in</h1>
    </legend>
    <p class="govuk-u-core-19 app-u-mb-4--small govuk-u-mb-4">
      You can’t file online until you’ve activated a Government Gateway account using your Unique Taxpayer Reference (UTR). Find out what to do if <a href='/log-in-file-self-assessment-tax-return/not-registered'>you haven’t activated an account yet</a>.
    </p>

    <% if @error %>
      <div class="app-c-error-inset">
        <span class="govuk-c-error-message govuk-u-mb-1" id="options">
          Please select an option
        </span>
      <% end %>
      <div class="govuk-c-radio">
        <input
          class="govuk-c-radio__input"
          id="government-gateway-input"
          type="radio"
          name="sign-in-option"
          value="government-gateway"
        >
        <label class="govuk-c-radio__label" for="government-gateway-input">
          Sign in with Government Gateway
        </label>
      </div>
      <div class="govuk-c-radio">
        <input
          class="govuk-c-radio__input"
          id="verify-input"
          type="radio"
          name="sign-in-option"
          value="govuk-verify"
        >
        <label class="govuk-c-radio__label" for="verify-input">
          Sign in with GOV.UK Verify
        </label>
      </div>
      <div class="govuk-c-radio">
        <input
          class="govuk-c-radio__input"
          id="i-dont-know-input"
          type="radio"
          name="sign-in-option"
          value="lost-account-details"
        >
        <label class="govuk-c-radio__label" for="i-dont-know-input">
          Get help if you’ve forgotten your username or password
        </label>
      </div>
    <% if @error %>
      </div>
    <% end %>
  </fieldset>

  <div class="govuk-u-core-19">
    <%= render "govuk_component/button", {
      text: "Continue"
      } %>
  </div>
<% end %>
