<% content_for :title, "Forgotten username or password" %>

<% content_for :simple_header, true %>
<% content_for :no_breadcrumbs, true %>

<% content_for :extra_head_content do %>
  <%= stylesheet_link_tag "self_assessment_b_variant.css", :media => "screen", integrity: true, crossorigin: 'anonymous' %>
<% end %>

<a
  href="/log-in-file-self-assessment-tax-return/choose-sign-in"
  class="govuk-c-link govuk-c-link--back govuk-u-mt-3 govuk-u-mb-6 app-u-mb-5--small"
>Back</a>

<h1 class="govuk-u-bold-48 govuk-u-mb-6 app-u-mb-4--small">Forgotten username or password</h1>

<% page_content = capture do %>

<h2 id="government-gateway">Government Gateway</h2>

<p>If you don’t know your account details, you can recover your:</p>

<ul>
  <li><a rel="external" href="https://www.tax.service.gov.uk/government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=userId">user ID</a></li>
  <li><a rel="external" href="https://www.tax.service.gov.uk/government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=password">password</a></li>
  <li><a rel="external" href="https://www.tax.service.gov.uk/government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=UserIdAndPassword">user ID and password</a></li>
</ul>

<p>You’ll need your Unique Taxpayer Reference (UTR). You can <a href="https://www.gov.uk/find-lost-utr-number">find your UTR number</a> if you don’t know it.</p>

<h2 id="govuk-verify">GOV.UK Verify</h2>

<p><a rel="external" href="https://www.tax.service.gov.uk/ida/sa/login?SelfAssessmentSigninTestVariant=B">Recover your details</a> if you set up an identity account with GOV.UK Verify.</p>

<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak', content: page_content %>
  </div>
</div>
