<% content_for :simple_header, true %>
<%= render 'govuk_component/title', title: @content_item.title %>
<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds">
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction,
        disable_youtube_expansions: true,
        rich_govspeak: true %>
  </div>
</div>
