<p class="govuk-body">
  <strong>
    Under current UK COVID-19 restrictions, you must stay at home. You must not leave home or travel, including internationally, unless you have a legally permitted reason to do so. Check the <a href="/guidance/national-lockdown-stay-at-home">rules that apply to you in England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
  </strong>
</p>
<p class="govuk-body">
  If you intend to <a href="/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england">travel to England</a>, <a href="https://www.gov.scot/publications/coronavirus-covid-19-public-health-checks-at-borders/pages/testing-for-people-travelling-to-scotland/">Scotland</a>, or <a href="https://gov.wales/coronavirus-covid-19-testing-people-travelling-wales">Wales</a> from outside the Common Travel Area, including UK nationals returning home from travel abroad, you must provide evidence of a negative COVID-19 test result taken up to 3 days before departure. This testing requirement does not apply to travel from Ireland.
</p>
<p class="govuk-body">
  Before you return to the UK you must <a href="/provide-journey-contact-details-before-travel-uk">provide your journey and contact details</a>. You must <a href="/uk-border-control">self-isolate</a> when you enter the UK from any foreign country except Ireland, unless you have a valid exemption.
</p>
<p class="govuk-body">
  If you are legally permitted to travel abroad, <a href="/guidance/travel-advice-novel-coronavirus">check our advice</a> on your <a href="/foreign-travel-advice">country of destination</a>. Some other countries have closed borders, and may further restrict movement or bring in new rules including testing requirements with little warning.
</p>
