<p class="govuk-body">
  <strong>
    Under current UK COVID-19 restrictions, you must stay at home. You must not travel, including abroad, unless you have a legally permitted reason to do so. It is illegal to travel abroad for holidays and other leisure purposes.
  </strong>
  Check the <a href="/guidance/national-lockdown-stay-at-home">rules that apply to you in England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
</p>
<p class="govuk-body">
  If you intend to <a href="/guidance/coronavirus-covid-19-testing-for-people-travelling-to-england">travel to the UK</a> from outside the Common Travel Area, including UK nationals returning home, you must provide evidence of a negative COVID-19 test result taken up to 3 days before departure. This testing requirement does not apply to travel from Ireland.
</p>
<p class="govuk-body">
  Before you return to the UK you must <a href="/provide-journey-contact-details-before-travel-uk">provide your journey and contact details</a>. You must <a href="/uk-border-control">self-isolate</a> when you enter the UK from any foreign country except Ireland, unless you have a valid exemption.
</p>
<p class="govuk-body">
  When you enter England from abroad (except Ireland), you must follow the new requirements for quarantining and taking additional COVID-19 tests. For those travelling from a country on the <a href="/guidance/transport-measures-to-protect-the-uk-from-variant-strains-of-covid-19">banned travel list</a> you will be required to <a href="/guidance/booking-and-staying-in-a-quarantine-hotel-when-you-arrive-in-england"> quarantine in a hotel</a>. Different rules apply for arrivals into <a href="/guidance/how-to-quarantine-when-you-arrive-in-england">England</a>, <a href="https://www.gov.scot/publications/coronavirus-covid-19-public-health-checks-at-borders/">Scotland</a>, <a href="https://gov.wales/how-self-isolate-when-you-travel-wales-coronavirus-covid-19">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-international-travel-advice">Northern Ireland</a>.
</p>
<p class="govuk-body">
  If you are legally permitted to travel abroad, <a href="/guidance/travel-advice-novel-coronavirus">check our advice</a> on your <a href="/foreign-travel-advice">country of destination</a>. Some other countries have closed borders, and may further restrict movement or bring in new rules including testing requirements with little warning.
</p>
