<%= render 'components/heading',
  text: t("publication.documents", count: 5), # This should always be pluralised.
  id: "documents-title" %>

<div aria-labelledby="documents-title">
  <%= render 'govuk_component/govspeak',
             content: @content_item.documents,
             direction: page_text_direction %>
</div>

<%= render 'components/heading', text: t("publication.details"), id: "details-title" %>

<div aria-labelledby="details-title">
  <%= render 'govuk_component/govspeak',
             content: @content_item.details,
             direction: page_text_direction %>
</div>
