<%= render 'govuk_publishing_components/components/heading',
  text: t("publication.documents", count: 5), # This should always be pluralised.
  id: "documents-title",
  mobile_top_margin: true %>

<div aria-labelledby="documents-title">
  <%= render 'govuk_publishing_components/components/govspeak',
             content: @content_item.documents.html_safe,
             direction: page_text_direction %>
</div>

<%= render 'govuk_publishing_components/components/heading',
  text: t("publication.details"),
  id: "details-title",
  mobile_top_margin: true %>

<div aria-labelledby="details-title">
  <%= render 'govuk_publishing_components/components/govspeak',
             content: @content_item.details.html_safe,
             direction: page_text_direction %>
</div>
