<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
      breadcrumbs: @content_item.breadcrumbs,
      collapse_on_mobile: true
    } %>
  </div>
</div>
