<% content_for :simple_header, true %>
<%= content_for :title, @content_item.title %>

<div class="grid-row sidebar-with-body answers">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        title: @content_item.title %>
    <%= render 'govuk_component/govspeak',
        content: @content_item.body,
        direction: page_text_direction %>
  </div>

  <div class="column-third">
    <div class="add-title-margin">
    <%= render partial: 'govuk_component/related_items', locals: {
      sections: [
        {
          title: "Elsewhere on GOV.UK",
          items: @content_item.related_items
        }
      ]
    } %>
    </div>
  </div>
</div>




