<% content_for :extra_head_content do %>
  <%= machine_readable_metadata(
    schema: :faq
  ) %>
<% end %>

<% if params[:path] && params[:path] == 'coronavirus-extremely-vulnerable' %>
  <div id="answer-b-content" class="hidden">
      <%= render "govuk_publishing_components/components/error_alert", {
  message: "This service is working, but we're limiting the number of people who are using it at the same time. Please wait 5 minutes and refresh the page to try again."
} %>
  </div>
<% end %>


<%= render 'content_items/body_with_related_links' %>
