<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
  </div>
  <div class="column-third">
    <%= render 'components/translation-nav', translations: @content_item.available_translations %>
    <% if @content_item.image.present? %>
      <%= image_tag @content_item.image, class: "logo-image" %>
    <% end %>
  </div>
</div>
<%= render 'shared/body_with_contents_list', content_item: @content_item, notice: true, history_notice: true %>
