<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/heading', @content_item.heading_and_context %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
          <% @content_item.fields_of_operation.each do |name, path| %>
              <%= link_to name, path, class: "govuk-link" %>
              <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-2">
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
