<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: "The page you're looking for is no longer available",
    } %>

    <p class="summary">
      The information on this page has been removed because it was published in error.
    </p>

    <%= render "govuk_publishing_components/components/govspeak", {} do %>
      <%= sanitize(@content_item.explanation) %>
    <% end %>

    <% if @content_item.alternative_path.present? %>
      <p class="alternative">
        Visit: <%= alternative_path_link(request, @content_item.alternative_path)%>
      </p>
    <% end %>
  </div>
</div>
