<% content_for :simple_header, true %>
<%= render 'govuk_component/title', title: @content_item.title %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'guide_body' %>
  </div>
</div>
