<% content_for :simple_header, true %>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', { title: @content_item.title } %>
    <%= render 'guide_body' %>
  </div>
  <% if current_tasklist_ab_test.show_tasklist_sidebar? %>
    <%= render 'shared/sidebar_tasklist', tasklist_content: tasklist_content %>
  <% else %>
    <%= render 'shared/related_items', content_item: @content_item  %>
  <% end %>
</div>
