<% add_view_stylesheet("manual") %>
<% content_for :header do %>
  <%= render "content_items/manuals/header", {
    content_item: @content_item,
    heading_level: 1,
    green_background: true,
    type: I18n.t("manuals.hmrc_manual_type"),
  } %>
<% end %>

<%= render "content_items/manuals/manual_layout" do %>
  <% @content_item.section_groups.each do |group| %>
    <% next unless group["child_sections"].present? %>
    <div class="subsection-collection">
      <%= render "content_items/manuals/hmrc_sections", group: group, heading_level: 3 %>
    </div>
  <% end %>
<% end %>
