<% content_for :header %>
  <%= render "content_items/manuals/header", {
    content_item: @content_item,
    heading_level: 2,
    margin_bottom: 6,
    green_background: true,
    supertitle: I18n.t("manuals.hmrc_manual_type"),
  } %>
<% end %>

<% content_for :main %>
  <div id="manuals-frontend" class="manuals-frontend-body">
    <%= render "govuk_publishing_components/components/breadcrumbs", {
               border: "bottom",
               breadcrumbs: @content_item.breadcrumbs,
               collapse_on_mobile: false } %>

    <%= render "content_items/manuals/updates", content_item: @content_item %>
  </div>
<% end %>
