<div id="manuals-frontend" class="manuals-frontend-body">
  <%= render "content_items/manuals/header", {
    content_item: @content_item, heading_level: 2, margin_bottom: 6,
  } %>

  <%= render "content_items/manuals/updates", content_item: @content_item %>
</div>
