<%
  content_for :title, "Print #{@content_item.page_title}"
  content_for :simple_header, true
  content_for :extra_head_content do %>
  <meta name="robots" content="noindex, nofollow">
  <script>window.onload = function() { window.print(); }</script>
<% end %>

<div class="grid-row travel-advice-print">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title', @content_item.title_and_context %>
    <% @content_item.parts.each_with_index do |part, i| %>
      <section>
        <h1 class="part-title">
          <%= part['title'] %>
        </h1>

        <%= render 'shared/travel_advice_summary', content_item: @content_item if i == 0 %>

        <%= render 'govuk_publishing_components/components/govspeak',
            content: part['body'],
            direction: page_text_direction %>
      </section>
    <% end %>
  </div>
</div>
