<header class="worldwide-organisation-header govuk-grid-row">
  <div class="govuk-grid-column-two-thirds worldwide-organisation-header__logo">
    <%= render 'govuk_publishing_components/components/organisation_logo', {
      organisation: {
        name: @content_item.title,
        crest: "single-identity",
      },
      heading_level: 1,
      inline: true,
    } %>
  </div>
</header>

<section class="govuk-grid-row" id="about-us">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>

  <% if @content_item.social_media_accounts.any? %>
    <aside class="social-media-links govuk-grid-column-one-third">
      <div class="content">
        <h2 class="govuk-heading-s"><%= t("worldwide_organisation.headings.follow_us") %></h2>
        <%= render "govuk_publishing_components/components/share_links", {
          track_as_follow: true,
          links: @content_item.social_media_accounts.map do |account|
            {
              href: account["href"],
              text: account["title"],
              icon: account["service_type"],
            }
          end
        } %>
      </div>
    </aside>
  <% end %>
</section>
