<header class="worldwide-organisation-header govuk-grid-row">
  <div class="govuk-grid-column-two-thirds worldwide-organisation-header__logo">
    <%= render 'govuk_publishing_components/components/organisation_logo', {
      organisation: {
        name: @content_item.title,
        crest: "single-identity",
      },
      heading_level: 1,
      inline: true,
    } %>
  </div>
</header>

<section class="govuk-grid-row" id="about-us">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/lead_paragraph', text: @content_item.description %>
  </div>
</section>
