development:
  SLIMMER_DEV: "false"
  API_DEV: "false"
  GOVUK_ASSET_ROOT: ""
  RAILS_SERVE_STATIC_FILES: ""
  ERRBIT_API_KEY: ""
  ERRBIT_ENVIRONMENT_NAME: ""
  JENKINS: "false"

test:
  GOVUK_APP_DOMAIN: "test.gov.uk"
  GOVUK_ASSET_ROOT: "http://static.test.gov.uk"
  USE_SLIMMER: "false"
