<%= render "govuk_publishing_components/components/back_link", href: @content_item.back_link %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', title: @content_item.title %>
    <%= render 'govuk_publishing_components/components/govspeak', content: @content_item.body %>
  </div>
</div>
