<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-top-margin">
    <%= render 'govuk_publishing_components/components/heading', 
      text: @content_item.title,
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8
    %>
    <%= render 'govuk_publishing_components/components/govspeak', {} do %>
      <% raw(@content_item.body) %>
    <% end %>
  </div>
</div>
