<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/title', title: @content_item.title %>
    <%= render 'govuk_publishing_components/components/govspeak', content: @content_item.body.html_safe %>
  </div>
</div>
