.related {
  @include govuk-media-query($from: tablet) {
    border-top: 1px solid $govuk-border-colour;
  }
}

.related-item {
  &__email-link {
    padding-left: 25px;
    font-weight: bold;
    background: image-url("mail-icon-x2.png") 0 40% no-repeat;
    background-size: 20px 14px;
  }
}
