.app-service-standard-point {
  border-top: 1px solid $govuk-border-colour;
  margin-top: govuk-spacing(5);
  padding-top: govuk-spacing(5);

  &:first-child {
    margin-top: govuk-spacing(0);
  }

  &__title {
    margin-left: govuk-spacing(6);

    @include govuk-media-query($from: tablet) {
      margin-left: govuk-spacing(8);
    }
  }

  &__number {
    float: left;
    margin-left: -(govuk-spacing(6));

    @include govuk-media-query($from: tablet) {
      margin-left: -(govuk-spacing(8));
    }
  }

  &__details {
    margin-bottom: govuk-spacing(2);
    margin-left: govuk-spacing(6);

    @include govuk-media-query($from: tablet) {
      margin-left: govuk-spacing(8);
    }
  }

  &__link {
    margin-top: govuk-spacing(2);
  }
}
