// Convert pixels to em
@function em($value, $app-context-font-size) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }
  @if (unitless($app-context-font-size)) {
    $app-context-font-size: $app-context-font-size * 1px;
  }
  @return $value / $app-context-font-size * 1em;
}
