$app-text-colour: $govuk-text-colour;
$app-secondary-text-colour: govuk-colour("dark-grey", $legacy: "grey-1");

// Border widths
$app-border-width-mobile: 4px;
$app-border-width-tablet: 5px;
$app-border-width-form-element: 2px;

// Focus
$app-focus-width: 3px;
