// Forked from GOV.UK Frontend, namespace changed to ensure no conflicts.

$app-spacing-scale-0: 0;
$app-spacing-scale-1: 5px;
$app-spacing-scale-2: 10px;
$app-spacing-scale-3: 15px;
$app-spacing-scale-4: 20px;
$app-spacing-scale-5: 30px;
$app-spacing-scale-6: 40px;
$app-spacing-scale-7: 50px;
$app-spacing-scale-8: 60px;

$app-text-colour: $text-colour;
$app-secondary-text-colour: $grey-1;

// Border widths
$app-border-width-mobile: 4px;
$app-border-width-tablet: 5px;
$app-border-width-form-element: 2px;

// Focus
$app-focus-width: 3px;

$app-error-colour: $red;
