<% if group["title"] %>
  <%= group["title"] %>
<% end %>

<ol class="section-list hmrc">
  <% group["child_sections"].each do |section| %>
    <li class="section-list-item">
      <%= link_to section["base_path"], class: "govuk-link section-link" do %>
      <div class="title-wrap">
        <% if section["section_id"] %>
          <div class="subsection-id"><%= section["section_id"] %></div>
        <% end %>
        <div class="subsection-title-text"><%= section["title"] %></div>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>

