<%
  type ||= nil
%>

<% content_for :main do %>
  <%= render "govuk_publishing_components/components/back_link", {
    text: t("manuals.breadcrumb_contents"),
    href: @content_item.base_path
  } %>
  <div id="manuals-frontend" class="manuals-frontend-body">
    <%= render "content_items/manuals/updates", content_item: @content_item, manual_type: type %>
  </div>
<% end %>
