<%= render "govuk_publishing_components/components/back_link", {
  text: t("manuals.breadcrumb_contents"),
  href: @content_item.base_path,
  margin_bottom: 8,
} %>
<div id="manuals-frontend">
  <%= render "content_items/manuals/updates", content_item: @content_item %>
</div>
