.anchored-heading {
  position: relative;
}

.anchored-heading__icon {
  position: absolute;
  width: 23px;
  left: -29px;
  padding: 0 3px;
  margin-top: -1px;
  opacity: 0;
  display: none;
  text-decoration: none;
  text-indent: -9999em;
  background-image: url("anchored-heading-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .anchored-heading__icon {
    background-image: url("anchored-heading-icon-2x.png");
    background-size: 23px 14px;
  }
}

@include govuk-media-query($from: tablet) {
  .anchored-heading__icon {
    display: block;
  }
}

.anchored-heading__icon:before {
  content: "\200b";
}

@include govuk-media-query($from: tablet) {
  .anchored-heading:hover .anchored-heading__icon {
    opacity: 1;
  }
}

@include govuk-media-query($from: tablet) {
  .anchored-heading__icon:focus {
    opacity: 1;
    outline-width: 1px;
    padding: 0 2px;
  }
}

.heading-anchor-links-group .gem-c-button--secondary-quiet {
  margin: 0;
  padding: 8px 10px;
  border-color: #505a5f;
  color: #505a5f;
  background-color: #fff;
  box-shadow: none;
}

.heading-anchor-links-group .gem-c-button--secondary-quiet:link,
.heading-anchor-links-group .gem-c-button--secondary-quiet:visited,
.heading-anchor-links-group .gem-c-button--secondary-quiet:active,
.heading-anchor-links-group .gem-c-button--secondary-quiet:focus {
  color: #505a5f;
  background-color: #fff;
  text-decoration: none;
}

.heading-anchor-links-group .gem-c-button--secondary-quiet:link:focus {
  color: #505a5f;
}

.heading-anchor-links-group .gem-c-button--secondary-quiet:hover {
  border-color: #444d51;
  color: #444d51;
  background-color: #f3f2f1;
  text-decoration: none;
}

.heading-anchor-links-group .gem-c-button--secondary-quiet:before {
  content: none;
}
