.app-c-back-to-top {
  display: inline-block;
  margin-bottom: govuk-spacing(3);
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);

  &:focus {
    @include govuk-template-link-focus-override;
  }

}

.app-c-back-to-top__icon {
  float: left;
  margin-right: .3em;
  width: .8em;
  height: .968em;
}

