@import "grid_layout";

.app-c-banner {
  @include responsive-bottom-margin;
  @include core-19;
  @include white-links;
  background: $govuk-blue;
  color: $white;
  padding: $gutter-half;
  clear: both;

  @include media(tablet) {
    padding: $gutter-two-thirds $gutter;
  }
}

.app-c-banner--grid {
  @include media(tablet) {
    padding: $gutter;
  }
}

.app-c-banner__text {
  @include core-24;
}

.app-c-banner__title {
  @include bold-27;
  margin-bottom: $gutter-one-third;
}

.app-c-banner__desc {
  @include core-19;
  // Ensure the text has a line-length of around 60 characters
  max-width: 30em;
  padding-top: $gutter-one-third;
}
