.app-c-native-blue-box-campaign__container {
  border-top: 1px solid $border-colour;
  padding-top: 20px;
}

.app-c-native-blue-box-campaign__link {
  @include bold-24;
  position: relative;
  display: block;
  background: $govuk-blue;
  width: 100%;
  min-height: 280px;
  color: $white;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
}

.app-c-native-blue-box-campaign__title {
  display: block;
  color: $white;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.app-c-native-blue-box-campaign__description {
  @include core-19;
  display: block;
  font-weight: normal;
  padding: 10px 10px 10px 0;
  color: $white;
  position: absolute;
  bottom: 10px;
}

.app-c-native-blue-box-campaign__link:focus .app-c-native-blue-box-campaign__title,
.app-c-native-blue-box-campaign__link:focus .app-c-native-blue-box-campaign__description {
  color: $black;
}
