.app-c-contents-list-with-body__link-container {
  margin: 0 auto;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    max-width: 1024px;
  }

  .app-c-back-to-top {
    margin-left: 0;
    margin-right: 0;
  }
}

.app-c-contents-list-with-body__link-wrapper {
  padding-bottom: govuk-spacing(2);

  .app-c-back-to-top {
    padding-bottom: govuk-spacing(2);
  }
}

.app-c-contents-list-with-body__link-wrapper.govuk-sticky-element--stuck-to-window {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  bottom: -1px; // 'Fix' for anomalous 1px margin which sporadically appears below this element.
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(2);
  }

  .app-c-back-to-top {
    margin-bottom: 0;
    padding: govuk-spacing(3);
    width: percentage(2 / 3);

    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(4);
    }
  }

}
