.app-c-content-metadata {
  @include responsive-bottom-margin;
  @include core-16;
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
}

.app-c-content-metadata__other {
  margin-top: $gutter-half;

  // Don't include a margin if there’s no published dates above
  &:first-child {
    margin-top: 0;
  }
}

.app-c-content-metadata__other a {
  font-weight: bold;
}
