.app-c-contents-list-with-body__link-container {
  margin: 0 auto;
  padding: 0;

  @include media(tablet) {
    max-width: 1024px;
  }

  .app-c-back-to-top {
    margin-left: 0;
    margin-right: 0;
  }
}

.app-c-contents-list-with-body__link-wrapper {
  padding-bottom: $gutter-one-third;

  .app-c-back-to-top {
    padding-bottom: $gutter-one-third;
  }
}

.app-c-contents-list-with-body__link-wrapper.govuk-sticky-element--stuck-to-window {
  background-color: $panel-colour;
  bottom: -1px; // 'Fix' for anomalous 1px margin which sporadically appears below this element.
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include media(tablet) {
    padding-left: $gutter-one-third;
  }

  .app-c-back-to-top {
    color: $link-colour;
    margin-bottom: 0;
    padding: $gutter-half;
    width: percentage(2 / 3);

    @include media(tablet) {
      padding: $gutter-two-thirds;
    }
  }

  .app-c-back-to-top:hover {
    color: $link-hover-colour;
  }

  .app-c-back-to-top:active {
    color: $link-active-colour;
   }
}
