.copy-button {
  &:before {
    border: 1px solid $govuk-link-colour;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
  }
  @include govuk-font($size: 19);
  $govuk-accordion-base-colour: govuk-colour("black");
  $govuk-accordion-hover-colour: govuk-colour("light-grey", $legacy: "grey-3");
  $govuk-accordion-icon-focus-colour: $govuk-focus-colour;
  $govuk-accordion-bottom-border-width: 1px;
  position: relative;
  z-index: 1;
  background: none;
  padding-left: 25px;
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 10px;
  border-width: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  @include govuk-media-query ($from: desktop) {
    margin-bottom: 14px;
  }

  // Remove default button focus outline in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover {
    background: $govuk-accordion-hover-colour;
    color: govuk-colour("black");
    // The GOV.UK Design System focus state adds a box-shadow to the top and bottom of the
    // button. We add a grey box-shadow on hover too, to make the height of the hover state
    // match the height of the focus state.
    box-shadow: 0 -2px $govuk-accordion-hover-colour, 0 4px $govuk-accordion-hover-colour;

    .govuk-accordion__section-toggle-text {
      color: $govuk-accordion-base-colour;
    }

    .govuk-accordion-nav__chevron {
      color: $govuk-accordion-base-colour;
      background: $govuk-accordion-base-colour;
    }

    .govuk-accordion-nav__chevron:before {
      color: $govuk-accordion-hover-colour;
    }

    .copy-button_svg {
      fill: $govuk-accordion-hover-colour;
    }

    &:before {
      background-color: govuk-colour("black");
      border-color: govuk-colour("black");
    }
  }

  &:focus {
    @include govuk-focused-text;

    .govuk-accordion-nav__chevron {
      background: $govuk-accordion-base-colour;
    }

    .govuk-accordion-nav__chevron:before {
      color: $govuk-accordion-icon-focus-colour;
    }

    .copy-button_svg {
      fill: $govuk-focus-colour;
    }

    &:before {
      background-color: govuk-colour("black");
      border-color: govuk-colour("black");
    }
  }
}

.copy-button_svg {
  position: absolute;
  left: 3px;
  fill: $govuk-link-colour;
  bottom: -1px;
  z-index: 1; // Override the background colour of the circle
}
