.app-c-download-link {
  display: inline-block;
  @include govuk-font(19, $weight: bold);
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);

  &:focus {
    @include govuk-template-link-focus-override;
  }

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
  }

}

.app-c-download-link__icon {
  margin-right: 0.5em;
  height: 1.31578947368em; // 25 / 19
  width: 1.31578947368em;
  vertical-align: middle;
}
