@import "govuk_publishing_components/individual_component_support";
@import "helpers/variables";

.app-c-error-message {
  display: block;
  margin-bottom: govuk-spacing(3);
  clear: both;
  color: $govuk-error-colour;
  @include govuk-font(19, $weight: bold);
}
