.app-c-figure {
  @extend %contain-floats;
  @include responsive-bottom-margin;

  border-top: 1px solid $border-colour;
  padding-top: $gutter-half;
}

.app-c-figure__image {
  display: block;
  width: 100%;

  @include media(tablet) {
    float: left;
    width: 50%;
  }
}

.app-c-figure__figcaption {
  @include core-16;


  @include media(tablet) {
    @include core-14;

    display: block;
    vertical-align: top;

    box-sizing: border-box;
    float: left;
    padding-left: $gutter-half;
    width: 50%;
  }

  @include media(mobile) {
    margin-top: $gutter-one-third;
  }
}
