.app-c-figure {
  @include responsive-bottom-margin;
  display: block;
  width: 100%;

  @include media(tablet) {
    align-items: left;
    display: flex;
  }
}

.app-c-figure__image {
  margin-right: 15px;
  width: 50%;
}

.app-c-figure__figcaption {
  @include core-16;
  padding-top: 15px;
  width: 50%;

  @include media(tablet) {
    @include core-14;
    border-top: 1px solid $border-colour;
    display: block;
  }
}
