.app-c-important-metadata {
  background: $govuk-brand-colour;
  color: govuk-colour("white");
  padding: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    overflow: auto;
    padding: govuk-spacing(4) govuk-spacing(6);
  }
}

// this will be moved and extended into a model for general component spacing
// once this has been decided upon and other work completed, see:
// https://trello.com/c/KEkNsxG3/142-3-implement-customisable-spacing-for-components
.app-c-important-metadata--bottom-margin {
  @include responsive-bottom-margin;
}

.app-c-important-metadata__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.app-c-important-metadata__term {
  float: left;
  padding-right: govuk-spacing(1);
}

.app-c-important-metadata__definition {
  font-weight: bold;

  .app-link {
    color: govuk-colour("white");

    &:focus {
      @include govuk-template-link-focus-override;
    }
  }

}
