.app-c-important-metadata {
  @include core-16;
  @include white-links;
  background: $govuk-blue;
  color: $white;
  padding: $gutter-half;

  @include media(tablet) {
    overflow: auto;
    padding: $gutter-two-thirds $gutter;
  }
}

// this will be moved and extended into a model for general component spacing
// once this has been decided upon and other work completed, see:
// https://trello.com/c/KEkNsxG3/142-3-implement-customisable-spacing-for-components
.app-c-important-metadata--bottom-margin {
  @include responsive-bottom-margin;
}

.app-c-important-metadata__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.app-c-important-metadata__term {
  float: left;
  padding-right: $gutter-one-third / 2;
}

.app-c-important-metadata__definition {
  font-weight: bold;
}
