.app-c-important-metadata {
  @include core-16;
  @include white-links;
  background: $govuk-blue;
  color: $white;
  padding: govuk-spacing(3);

  @include media(tablet) {
    overflow: auto;
    padding: govuk-spacing(4) govuk-spacing(6);
  }
}

// this will be moved and extended into a model for general component spacing
// once this has been decided upon and other work completed, see:
// https://trello.com/c/KEkNsxG3/142-3-implement-customisable-spacing-for-components
.app-c-important-metadata--bottom-margin {
  @include responsive-bottom-margin;
}

.app-c-important-metadata__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.app-c-important-metadata__term {
  float: left;
  padding-right: govuk-spacing(1);
}

.app-c-important-metadata__definition {
  font-weight: bold;
}
