.app-c-notice {
  clear: both;
  @include responsive-bottom-margin;
  padding: $gutter-two-thirds;
  border: 5px solid $govuk-blue;

  @include media(mobile) {
    padding: $gutter-half;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.app-c-notice__title {
  @include bold-36;
  margin-bottom: $gutter-one-third;

  &:last-child {
    margin-bottom: 0;
  }
}

.app-c-notice__description {
  @include core-19;
  margin-bottom: 0;
}
