.app-c-print-link {
  margin-top: 2em;
  margin-bottom: 2em;

  // scss-lint:disable SelectorFormat
  .app-c-print-link__link {
    background: image-url("icon-print.png") no-repeat 0 50%;
    padding: 0.5em 0 0.5em 28px;

    @include device-pixel-ratio() {
      background-image: image-url("icon-print-2x.png");
      background-size: 16px 18px;
    }
  }
  // scss-lint:enable SelectorFormat
}
