.app-c-published-dates {
  direction: ltr;
  line-height: 1.45em;
}

.app-c-published-dates__toggle {
  display: none;

  .js-enabled & {
    display: inline-block;
  }
}

.app-c-published-dates__change-history {
  margin: 20px 0;
}

.app-c-published-dates__change-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.app-c-published-dates__change-date {
  display: block;
  @include govuk-font(16, $weight: bold);
}

.app-c-published-dates--history {
  padding-top: govuk-spacing(2);
  border-top: 1px solid $govuk-border-colour;
}
