.app-c-publisher-metadata {
  @include responsive-bottom-margin;
  @include core-16;
  padding-top: $gutter-half;
  border-top: 1px solid $border-colour;
}

.app-c-publisher-metadata__other a {
  font-weight: bold;
}

.app-c-publisher-metadata__term {
  @include media(tablet) {
    box-sizing: border-box;
    clear: left;
    float: left;
    max-width: 11em;
    padding-right: $gutter-one-third / 2;
  }
}

.app-c-publisher-metadata__definition {
  @include media(tablet) {
    box-sizing: border-box;
  }
}
