.app-c-publisher-metadata {
  @include responsive-bottom-margin;
  @include core-16;
  padding-top: $gutter-half;
}

.app-c-publisher-metadata__other a {
  font-weight: bold;
}

.app-c-publisher-metadata__term {
  float: left;
  padding-right: $gutter-one-third / 2;

  .direction-rtl & {
    float: none;
    display: inline-block;
    padding-right: 0;
    padding-left: 5px;
  }
}

.app-c-publisher-metadata__definition {
  .direction-rtl & {
    float: none;
    display: inline-block;
  }
}
