.app-c-publisher-metadata {
  @include responsive-bottom-margin;
  direction: ltr;
  padding-top: govuk-spacing(3);
}

.app-c-publisher-metadata__other a {
  font-weight: bold;

  &:focus {
    @include govuk-template-link-focus-override;
  }
}

.app-c-publisher-metadata__term {
  float: left;
  padding-right: govuk-spacing(1);
}

.app-c-publisher-metadata__toggle,
.app-c-publisher-metadata__definition-others {
  display: none;

  .js-enabled & {
    display: inline-block;
  }
}
