.app-c-related-navigation-sidebar {
  border-top: 2px solid $govuk-blue;
}

.app-c-related-navigation-sidebar__main-heading {
  margin-top: $gutter-half;
  margin-bottom: $gutter-one-third;
  @include bold-19;
}

.app-c-related-navigation-sidebar__sub-heading {
  border-top: 1px solid $border-colour;
  padding-top: $gutter-half;
}

.app-c-related-navigation-sidebar__sub-heading--other {
  @include bold-19;
}

.app-c-related-navigation-sidebar__nav-section {
  margin-top: $gutter-one-third;
  margin-bottom: $gutter;
}

.app-c-related-navigation-sidebar__link {
  list-style-type: none;
  margin-bottom: $gutter-one-third;
}

.app-c-related-navigation-sidebar__section-link {
  text-decoration: none;
  @include bold-19;
}

.app-c-related-navigation-sidebar__section-link--other {
  text-decoration: none;
}

// reset the default browser styles
.app-c-related-navigation-sidebar__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}
