$share-button-width: 25px;
$share-button-height: 25px;

.app-c-share-links__link {
  margin-right: $gutter;
  @include core-16;

  &:visited .app-c-share-links__link__icon {
    background-color: $link-visited-colour;
  }

  &:active .app-c-share-links__link__icon {
    background-color: $link-active-colour;
  }

  &:hover .app-c-share-links__link__icon {
    background-color: $link-hover-colour;
  }
}

.app-c-share-links__title {
  margin-bottom: $gutter-one-third;
}

.app-c-share-links__link__icon {
  display: inline-block;
  width: $share-button-width;
  height: $share-button-height;
  margin-right: $gutter-one-third;
  background-color: $link-colour;
  background-image: image-url("social-icons-white.png");
  background-repeat: no-repeat;
  vertical-align: top;
}

.app-c-share-links__link__icon--facebook {
  background-position: -2px -2px;
}

.app-c-share-links__link__icon--twitter {
  background-position: -2px -32px;
}

.direction-rtl {
  .app-c-share-links__link {
    // By changing the link to inline-block the browser
    // calculates the icon and the text as a single run of text
    // rather than two. When they are considered to be two runs
    // the browser splits the first link, putting the text before
    // the second link, and the icon after the second link.
    display: inline-block;
    margin-right: 0;
    margin-left: $gutter;

    .app-c-share-links__link__icon {
      margin-right: 0;
      margin-left: $gutter-one-third;
      vertical-align: middle;
    }
  }
}
