<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">

  <div class="summary">
    <p>You must tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> if you’ve had any epileptic attacks, seizures, fits or blackouts.</p>
  </div>

  <p>You must stop driving straight away.</p>

  <div role="note" aria-label="Help" class="application-notice help-notice">
    <p>You can be fined up to £1,000 if you don’t tell <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> about a medical condition that affects your driving. You may be prosecuted if you’re involved in an accident as a result.</p>
  </div>

  <h2 id="car-or-motorbike-licence">Car or motorbike licence</h2>

  <div class="transaction">
    <p class="get-started group">
      <a class="button" href="https://www.driving-medical-condition.service.gov.uk/eligibility/entitlement-gb">Report your condition online</a>
    </p>
  </div>


  <p>You can also <a href="/government/publications/fep1-confidential-medical-information">fill in form FEP1</a> and send it to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>. The address is on the form.</p>

  <p>Your licence may be taken away. When you can reapply for it depends on the type of attack you had.</p>

  <h3 id="youve-had-epileptic-attacks-while-awake-and-lost-consciousness">You’ve had epileptic attacks while awake and lost consciousness</h3>

  <p>Your licence will be taken away. You can reapply if you haven’t had an attack for at least a year.</p>

  <p>If you had a seizure because your doctor changed or reduced your anti-epilepsy medicine, you can reapply when:</p>

  <ul>
    <li>
      <p>the seizure was more than 6 months ago</p>
    </li>
    <li>
      <p>you’ve been back on your previous medication for 6 months</p>
    </li>
    <li>
      <p>you haven’t had another seizure in that time</p>
    </li>
  </ul>

  <h3 id="youve-had-a-one-off-seizure-while-awake-and-lost-consciousness">You’ve had a one-off seizure while awake and lost consciousness</h3>

  <p>Your licence will be taken away. You can reapply when both the following are true:</p>

  <ul>
    <li>
      <p>you haven’t had an attack for 6 months</p>
    </li>
    <li>
      <p><abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>’s medical advisers decide there isn’t a high risk you’ll have another seizure</p>
    </li>
  </ul>

  <p>Medical advisers will base their decision on information you and your doctors send them. If they need to carry out an investigation they’ll let you know.</p>

  <p>Otherwise you can reapply after a year.</p>

  <h3 id="youve-had-attacks-while-asleep-and-awake">You’ve had attacks while asleep and awake</h3>

  <p>You may still qualify for a licence if the only attacks you’ve had in the past 3 years have been while you were asleep.  <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> will let you know whether or not you qualify after you’ve filled in the form. Until you hear from them you must stop driving.</p>

  <h3 id="youve-only-had-attacks-while-asleep">You’ve only had attacks while asleep</h3>

  <p>You may still qualify for a licence if it’s been 12 months or more since your first attack. <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> will let you know whether or not you qualify after you’ve filled in the form. Until you hear from them you must stop driving.</p>

  <h3 id="youve-had-attacks-or-seizures-that-dont-affect-your-consciousness-or-driving">You’ve had attacks or seizures that don’t affect your consciousness or driving</h3>

  <p>You may still qualify for a licence if these are the only type of attack you’ve ever had and the first one was 12 months ago. <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr> will let you know whether or not you need to give up your licence after you’ve filled in the form. Until you hear from them you must stop driving.</p>

  <h2 id="bus-coach-or-lorry-licence">Bus, coach or lorry licence</h2>

  <p>Fill in <a href="/government/publications/fep1v-online-confidential-medical-information">form FEP1V</a> and send it to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>. The address is on the form.</p>

  <p>How long you will lose your licence for depends on what type of attack you have.</p>

  <h3 id="youve-had-more-than-one-seizure">You’ve had more than one seizure</h3>

  <p>Before you reapply for your licence, you must show you haven’t:</p>

  <ul>
    <li>
      <p>had an epileptic attack for 10 years</p>
    </li>
    <li>
      <p>taken any anti-epileptic medication for 10 years</p>
    </li>
    <li>
      <p>got a 2% or higher risk of another seizure, according to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>’s medical advisers</p>
    </li>
  </ul>

  <p>You must also have a car and motorbike licence.</p>

  <h3 id="youve-had-a-one-off-seizure">You’ve had a one-off seizure</h3>

  <p>Before you reapply for your licence, you must show:</p>

  <ul>
    <li>
      <p>you haven’t had an epileptic attack for 5 years</p>
    </li>
    <li>
      <p>you haven’t taken any anti-epileptic medication for 5 years</p>
    </li>
  </ul>

  <p>You must also have:</p>

  <ul>
    <li>
      <p>a car and motorbike licence</p>
    </li>
    <li>
      <p>been assessed in the past 12 months by a neurologist</p>
    </li>
    <li>
      <p>results from medical investigations for epilepsy that are satisfactory to <abbr title="Driver Vehicle and Licensing Agency">DVLA</abbr>’s medical advisers</p>
    </li>
  </ul>

  <p>Medical advisers will base their decision on information you and your doctors send them. If they need to carry out an investigation they’ll let you know.</p>


</div>
