<script
  type="text/html"
  data-module="ukvi-ab-test"
  data-test-type="knowledge"
  data-test-label="<%= @content_item.ukvi_test_label %>"
>
  <p>You can apply to continue to live in the UK if you have a family member who is both:</p>

  <ul>
    <li>a British citizen or settled (they have 'indefinite leave to remain')</li>
    <li>living permanently in the UK</li>
  </ul>

  <p>Your family member can be a:</p>
  <ul>
    <li>spouse</li>
    <li>partner</li>
    <li>fiancé or fiancée</li>
    <li>child</li>
    <li>relative who cares for you</li>
  </ul>

  <p>You can also apply if your partner has asylum or humanitarian protection in the UK.</p>

  <div role='note' aria-label='Information' class='application-notice info-notice'>
    <p>You don't need a visa if you're from the European Economic Area (EEA) or Switzerland.</p>
  </div>
</script>
