// The main application stylesheet

// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

// Components from govuk_publishing_components gem
@import "govuk_publishing_components/govuk_frontend_support";

// government-frontend mixins
@import "mixins/margins";

// helpers for common page elements
@import "helpers/organisation-logos";
@import "helpers/content-bottom-margin";
@import "helpers/header";
@import "helpers/organisation-links";
@import "helpers/publisher-metadata-with-logo";
@import "helpers/sticky-element-container";

// pages specific view imports
@import "views/worldwide-organisation";

.case-study,
.corporate-information-page,
.publication,
.worldwide-organisation,
.worldwide-corporate-information-page {
  .direction-rtl & {
    direction: rtl;
    text-align: start;

    table th {
      text-align: start;
    }
  }
}

@include govuk-media-query($media-type: print) {
  // Targeting (right to left) rtl languages
  main[lang="ar"],  // Arabic
  main[lang="he"],  // Hebrew
  main[lang="ur"] { // Urdu
    direction: rtl;
    text-align: start;
  }
}

.constrained-image {
  max-width: 100%;
}

.inverse-background {
  background: $govuk-brand-colour;
  color: govuk-colour("white");
}
