// The main application stylesheet

$govuk-use-legacy-palette: true;
$govuk-typography-use-rem: false;

// govuk_frontend_toolkit dependencies
@import "typography";
@import "colours";
@import "grid_layout";

// Components from govuk_publishing_components gem
@import 'govuk_publishing_components/all_components';

// government-frontend mixins
@import 'mixins/margins';
@import 'mixins/white-links';

// helpers for common page elements
@import 'helpers/sidebar-with-body';
@import 'helpers/organisation-links';
@import 'helpers/organisation-logos';
@import 'helpers/parts';
@import 'helpers/add-title-margin';
@import "helpers/content-bottom-margin";
@import "helpers/publisher-metadata-with-logo";

// Components from this application
@import 'components/*';

// pages specific view imports
@import 'views/case-studies';
@import 'views/coming-soon';
@import 'views/html-publication';
@import 'views/statistics_announcement';
@import 'views/take-part';
@import 'views/topical-event-about-page';
@import 'views/unpublishing';
@import 'views/working-group';
@import 'views/detailed-guide';
@import 'views/publication';
@import 'views/document-collection';
@import 'views/fatality-notice';
@import 'views/statistical-data-set';
@import 'views/consultation';
@import 'views/speech';
@import 'views/world-location-news-article';
@import 'views/news-article';
@import 'views/corporate-information-page';
@import 'views/travel-advice';
@import "views/contact";
@import 'views/specialist-document';
@import 'views/answer';
@import 'views/help-page';
@import "views/guide";
