// The main application stylesheet
$govuk-compatibility-govuktemplate: true;
$govuk-typography-use-rem: false;
$govuk-use-legacy-palette: false;

// Components from govuk_publishing_components gem
@import 'govuk_publishing_components/all_components';

// government-frontend mixins
@import 'mixins/margins';
@import 'mixins/white-links';

// helpers for common page elements
@import 'helpers/sidebar-with-body';
@import 'helpers/organisation-links';
@import 'helpers/organisation-logos';
@import 'helpers/parts';
@import 'helpers/add-title-margin';
@import "helpers/content-bottom-margin";
@import "helpers/publisher-metadata-with-logo";
@import "helpers/attachments";

// Components from this application
@import 'components/*';

// pages specific view imports
@import 'views/case-studies';
@import 'views/coming-soon';
@import 'views/html-publication';
@import 'views/statistics_announcement';
@import 'views/take-part';
@import 'views/topical-event-about-page';
@import 'views/unpublishing';
@import 'views/working-group';
@import 'views/detailed-guide';
@import 'views/publication';
@import 'views/document-collection';
@import 'views/fatality-notice';
@import 'views/statistical-data-set';
@import 'views/consultation';
@import 'views/speech';
@import 'views/world-location-news-article';
@import 'views/news-article';
@import 'views/corporate-information-page';
@import 'views/travel-advice';
@import "views/contact";
@import 'views/specialist-document';
@import 'views/answer';
@import 'views/help-page';
@import "views/guide";

.travel-advice-notice {
  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(7);
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(9);
  position: relative;
}

.travel-advice-notice__icon {
  margin-left: govuk-spacing(3);
}
