// The main application stylesheet
$govuk-compatibility-govuktemplate: false;
$govuk-typography-use-rem: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;

// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

// Components from govuk_publishing_components gem
@import "govuk_publishing_components/govuk_frontend_support";

// government-frontend mixins
@import "mixins/margins";

// helpers for common page elements
@import "helpers/organisation-logos";
@import "helpers/parts";
@import "helpers/content-bottom-margin";
@import "helpers/organisation-links";
@import "helpers/publisher-metadata-with-logo";
@import "helpers/sticky-element-container";

// pages specific view imports
@import "views/worldwide-organisation";

.case-study,
.corporate-information-page,
.detailed-guide,
.html-publication,
.news-article,
.publication,
.speech,
.worldwide-organisation {
  .direction-rtl & {
    direction: rtl;
    text-align: start;

    table th {
      text-align: start;
    }
  }
}

@include govuk-media-query($media-type: print) {
  // Targeting (right to left) rtl languages
  main[lang="ar"],  // Arabic
  main[lang="he"],  // Hebrew
  main[lang="ur"] { // Urdu
    direction: rtl;
    text-align: start;
  }
}
