// The main application stylesheet

// govuk_frontend_toolkit imports
@import 'colours';
@import 'measurements';
@import 'typography';
@import 'shims';

// helpers for common page elements
@import "helpers/responsive-bottom-margin";
@import "helpers/available-languages";
@import "helpers/description";
@import "helpers/sidebar-with-body";

// pages specific view imports
@import "views/case-studies";
@import "views/coming-soon";
@import "views/take-part";
@import "views/unpublishing";

.service-manual-guide {
  @import "components/metadata";
  @import "components/page-contents";
  @import "components/govspeak-service-manual";
  @import "views/service-manual-guide";
}
